# Node modules
**/node_modules/
**/dist/
frontend/dist/
frontend/node_modules/

# Maven target
**/target/
backend/target/

# IDE files
.vscode/
.idea/
*.iml
.DS_Store

# Maven wrapper binaries
.maven/

# Temp & Log files
*.log
